{% include "./header.html"%}
  <div class="row">
    <div class="purple lighten-2 col s10 offset-s1" style="margin-bottom: 15px; margin-top: 15px; padding: 5px; border-radius: 15px;">
      <div class="input-field col s3">
        <input id="user" type="text" class="validate" placeholder="User">
      </div>
      <div class="input-field col s6">
        <input id="reason" type="text" class="validate" placeholder="Reason">
      </div>
      <div class="input-field col s3">
        <a id="mute-user" class="btn purple darken-4" data-mod="{{loggedin}}">Mute User</a>
      </div>
    </div>
  </div>
  <table class="responsive-table">
    <thead>
      <th>Date</th>
      <th>User</th>
      <th>Muted By</th>
      <th>Reason</th>
      <th>Un-Mute</th>
    </thead>
    <tbody>
      {%for muted in data%}
        <td>{{muted.date}}</td>
        <td>{{muted.id}}</td>
        <td>{{muted.mod}}</td>
        <td>{{muted.reason}}</td>
        <td><a href="javascript:;" class="btn purple darken-4" data-user="{{muted.id}}" id="unmute"><i class="large material-icons">done</i></a></td>
      {%endfor%}
    </tbody>
  </table>
  <script src="/js/mute.js"></script>
{% include "./footer.html"%}
