input {
  display: inline-block;
}

select {
  display: inline-block;
}

.nav-wrapper .dropdown-content {
	margin-top:64px
}

.input-field :focus {
  border-color: white !important;
}

.input-field .active {
  color: white !important;
}

#submit-content, #mute-user {
  width: 100%;
}

#select-auto-response+textarea {
  border: solid black 1px;
  margin-top: 5px;
  min-height: 350px;
}
